@font-face {
  font-family: 'Font';
  src: url('/M_PLUS_Rounded_1c/MPLUSRounded1c-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Font';
  src: url('/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'consolas';
  src: url('/consolas/consola.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


body,
textarea,
input {
  font-family: 'Font', sans-serif;
  line-height: 1.2;
  line-break: normal;
}

* {
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #0003;
}

::-webkit-scrollbar-thumb:hover {
  background: #0006;
}

::-webkit-scrollbar-track {
  background: #0000;
}

::selection {
  background: #0002;
  color: black;
}
