@font-face {
  font-family: 'MPLUS1p';
  src: url('/MPLUS1p-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

*{
  margin: 0;
  font-family: 'MPLUS1p', sans-serif;
  line-height: 1.2;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #0003;
}

::-webkit-scrollbar-thumb:hover {
  background: #0006;
}

::-webkit-scrollbar-track {
  background: #0000;
}

::selection {
  background: #0002;
  color: black;
}